@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

/*font-family: "Hanken Grotesk", sans-serif;
*/

/* CUSTOM PROPERTIES / VARIABLES */

:root {
    /*fonts*/
    --font-primary: "Hanken Grotesk", sans-serif;
    --font-size: 18px;
    --font-weight-medium: 400;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
    /*colors*/
    --primary-light-red: hsl(0, 100%, 67%);
    --primary-orangey-yellow: hsl(39, 100%, 56%);
    --primary-green-teal: hsl(166, 100%, 37%);
    --primary-cobalt-blue: hsl(234, 85%, 45%);

    /*gradients*/
    --gradients-light-slate-blue-bg: hsl(252, 100%, 67%);
    --gradients-light-royal-blue-bg: hsl(241, 81%, 54%);
    --gradients-violet-blue-circle: hsla(256, 72%, 46%, 1);
    --gradients-persian-blue-circle: hsla(241, 72%, 46%, 0);

    /*Neutral*/
    --neutral-white: hsl(0, 0%, 100%);
    --neutral-blue: hsl(221, 100%, 96%);
    --neutral--light-lavender: hsl(241, 100%, 89%);
    --neutral-dark-gray-blue: hsl(224, 30%, 27%);
}

/*GENERALES*/

*{
    box-sizing: border-box; /* para que las cajas calculen el ancho automaticamente*/
    margin: 0;
    padding: 0;
}

html{
    font-size: var(--font-primary);
}

body{
    
    font-family: var(--font-primary);
    background-color: var(--neutral-blue);
    height: 100vh; /* ocupar 100% del contenedor*/

    display: flex;
    justify-content: center;
    align-items: start; /*llevar arriba*/

}
@media (width > 768px){
    body{
        align-items: center;
    }
}

.summary{
    background-color: var(--neutral-white);
    display: flex;
    flex-direction: column;
}

@media (width > 768px){ /* media del summary*/
    .summary{
        flex-direction: row;
        border-radius: 1rem;    
    }
}

.result {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0 0 1rem 1rem;
    background: linear-gradient(
        0deg, 
        var(--gradients-light-royal-blue-bg) 0%,
        var(--gradients-light-slate-blue-bg) 100%
    );

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

@media (width > 768px){
    .result{
        border-radius: 1rem 1rem 1rem 1rem;
    }
}
.result__subtitle{
    font-size: 1.2rem;
    font-weight: var(--font-weight-bold);
    color: var(--neutral--light-lavender);

}
.result__stats{
    
    width: 150px;
    height: 150px;
    border-radius: 50%;

    display: grid;
    place-content: center;
    background: linear-gradient(
        0deg, 
        var(--gradients-violet-blue-circle) 0%,
        var(--gradients-persian-blue-circle) 100%
    );

}

.result__stats h1{
    font-size: 3.5rem;
    font-weight: var(--font-weight-extra-bold);
    color: var(--neutral-white);
}
.result__stats small{
    font-size: 0.9rem;
    font-weight: var(--font-weight-extra-bold);
    color: var(--neutral--light-lavender);
    text-align: center;
}

.result_title{
    font-size: 1.8rem;
    color: var(--neutral-white);

}
.result_text{
    font-size: 1rem;
    font-weight: var(--font-weight-medium);
    color: var(--neutral--light-lavender);
    padding: 0.1rem;
    text-align: center;
}

/* */

.summary-list{
   
    width: 100%;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    gap:2rem;
    
}
.summary-list__title{
    color: var(--neutral-dark-gray-blue);
    margin-bottom: 2rem;
}
.summary-row--wrap{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.summary-row{
    

    display: flex;
    justify-content: space-between;
    padding: .7rem 1rem;
    border-radius: .5rem;

    font-size: 1rem;
    font-weight: var(--font-weight-bold);
}
.summary-row__title{
    display: flex;
    align-items: center; /* alinear verticalmente*/
    gap: .5rem; /*separarlos*/
    
}
.sumary-row__stats{
    color: var(--neutral-dark-gray-blue);
}
.sumary-row__stats span:nth-last-child(1){ /* aplicarle estilo al ultimo span de la lista el 1 es por que como iunica por el parte de abajo, el 1 es le primero de abajo osea el 3ero*/
    color: var(--neutral--light-lavender);
}
.summary-row--reaction{
    background-color: hsla(0, 100%, 67%, .2);
}
.summary-row--reaction .summary-row__title{
    color: var(--primary-light-red);
}
.summary-row--memory{
    background-color: hsla(39, 100%, 56%, .2);
}
.summary-row--memory .summary-row__title{
    color: hsl(39, 100%, 56%);

}
.summary-row--verbal{
    background-color: hsla(166, 100%, 37%, .2);
}
.summary-row--verbal .summary-row__title{
    color: hsl(166, 100%, 37%);
}
.summary-row--visual{
    background-color: hsla(234, 85%, 45%, .2);
}
.summary-row--visual .summary-row__title{
    color:hsl(234, 85%, 45%) ;

}

.summary-button{
    border: 0;
    background-color: var(--neutral-dark-gray-blue);
    color: var(--neutral-white);
    padding: 1rem;
    border-radius: 1.5rem;
    font-size: 1rem;
    font-weight: var(--font-weight-bold);

}

