@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    background-color:hsl(202, 86%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
main{
    margin: 0;
    background-color: hsl(0, 0%, 100%);
    width: 1000px;
    height: 500px;
    border-radius: 20px;
    display: flex;

}

.content{
   
    background-color: hsl(0, 0%, 100%);
    width: 500px;
    height: 500px;
    margin: 0;

}

.content2{
    border: 1px solid rgb(0, 55, 255);
    background-color: hsl(0, 0%, 100%);
    width: 500px;
    height: 500px;

}


.content__titulo{
    font-size: 14px;
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    justify-items: center;
    align-items: last baseline;
    margin-left: 20px;
    
}
.content__titulo h4{
    margin-left: 120px;
    color:hsl(200, 24%, 40%);
}

.euro{
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0;
    margin-left: 20px;
    
    border:1px solid hsl(203, 41%, 72%);
    border-radius: 5px;
    width: 460px;
    display: flex;

}
.euro__p{
    font-family: "Plus Jakarta Sans", sans-serif;
    color:hsl(200, 24%, 40%);
    width: 25px;
}
.euro__valor{
    border:0px;
    font-family: "Plus Jakarta Sans", sans-serif;
    border-radius: 5px;
    height: 10px;
    line-height: 900;
}






.content2{
    border: 1px solid rgb(255, 247, 0);
    background-color: hsl(202, 55%, 16%);
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 50px;
    width: 400px;
    height: 350px;
}

