@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/*
    font-family: "Montserrat", sans-serif;
    font-family: "Fraunces",serif;
*/
body{

    font-family: "Fraunces",serif;
    font-size: 14px;
    background-color: hsl(30, 38%, 98%);
    background-position-x: 50px;
    background-position-y: 60px;
}
button{
    background-color: rgb(13, 238, 46);
    color: white;
}